* {
   text-align: center; /*จัดกึ่งtext ให้อยู่ตรงกลาง โดยใช้ align แปลว่าจัดตำแหน่ง*/
   font-family:'Times New Roman', Times, serif;/*กำหนดรูปแบบตัวอักษรให้เป็น serif*/
   font-style: italic;/*ทำให้ font เป็นตัวเอียง*/
}




h1, h2 {
    text-align: center;
    color: #414141;
}


.head {
   margin-top: center;/*จัดข้อความให้อยู่ตรงกลาง*/
   font-style: italic; /*ทำให้ font เป็นตัวเอียง ตามfont*/
   font-size: 400%;/*ขนาดตัวอักษรใหญ่ขึ้น 20%*/
   text-align: center;/*จัดข้อความให้อยู่ตรงกลางในกรอบ*/ 
   margin: 0 auto;/*จัดกรอบให้อยู่ตรงกลาง ใช้  x-y=0 autoปรับให้อยู่ตรงกลางอัตโนมัติ*/
   margin-top: 5%;/*เว้นระยะห่างจากด้านบน 5%*/
   text-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);/*เพิ่มเงาให้กรอบ ปรับความเข้มเป็น20pxแนวนอน ปรับความเข้มเป็น20pxแนวตั้ง 50pxค่าความฟุ้งหรือการกระจายของเงา */
}



.head_2{
   margin-top: center;/*จัดข้อความให้อยู่ตรงกลาง*/
   font-style: italic; /*ทำให้ font เป็นตัวเอียง ตามfont*/
   font-size: 350%;/*ขนาดตัวอักษรใหญ่ขึ้น 500%*/
   text-align: center;/*จัดข้อความให้อยู่ตรงกลางในกรอบ*/ 
   margin: 0 auto;/*จัดกรอบให้อยู่ตรงกลาง ใช้  x-y=0 autoปรับให้อยู่ตรงกลางอัตโนมัติ*/
   margin-top: 2%;/*เว้นระยะห่างจากด้านบน 2%*/
   text-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);/*เพิ่มเงาให้กรอบ ปรับความเข้มเป็น20pxแนวนอน ปรับความเข้มเป็น20pxแนวตั้ง 50pxค่าความฟุ้งหรือการกระจายของเงา */
}


.input_box {
   background-color: rgb(215, 214, 214);   /* พื้นหลังเทา */             
   border-radius: 50px;                    /* มุมโค้งมน */
   padding: 14px;                           /* เพิ่มช่องว่างในกล่อง 5px */
   font-size: 120%;                         /* ตัวอักษรเล็กลง 100% */
   width: 50%;                            /* กว้าง 50% ของหน้าจอ */
   margin-top: 0 auto;                    /* จัดกล่องให้อยู่กึ่งกลาง */
   margin-top: 2%;                        /* เว้นระยะห่างจากด้านบน 2% */
   text-align: center;                     /* จัดข้อความภายในให้อยู่กลาง */
   box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);  /* เพิ่มเงาให้กล่อง */
   color: black;  
   border: none;                                   /* ลบเส้นขอบ */
   
}


.input_box::placeholder {
  color: rgb(87, 87, 87);/*เปลี่ยนสีตัวอักษรในกล่องเป็นสีดำ*/
  font-weight:  15%;/*ปรับความหนาของตัวอักษรในกล่องเป็น15%*/
  font-family: serif;/*กำหนดรูปแบบตัวอักษรในกล่องให้เป็น serif*/
}

.R{
   color: orange;}/*กำหนดสีตัวอักษรเป็นสีส้ม*/
.A{
   color: orange;}/*กำหนดสีตัวอักษรเป็นสีส้ม*/
  
.ID{
color: rgb(255, 0, 0);}/*กำหนดสีตัวอักษรเป็นสีน้ำเงินเข้ม*/
.NAME{
   color:  #ff9100;}/*กำหนดสีตัวอักษรเป็นสีแดง*/
   .CLASS{
   color: #ff9100;}/*กำหนดสีตัวอักษรเป็นสีน้ำเงิน*/
   .NUMBER{
      color:#ff9100;}/*กำหนดสีตัวอักษรเป็นสีเขียว*/